<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><img src="assets/images.png" alt="Youthoob"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/MyFav">My Favourites</a>
            </li>
            <!-- <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              
            </li> -->
           
          </ul>
          <div class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" #myId type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="fireEvent(myId.value)">Search</button>
          </div>
        </div>
      </nav>

      <br>
        
<section class="container">
<section class="row">
    
  <div class="card col-sm-4" *ngFor = "let video of videos.items">
        
            <iframe width="100%" height="300" [src]="vidId + video.id.videoId | safe" ></iframe>
                <div class="card-body">
                    <a [routerLink]="['/description',video.id.videoId]"><h5 class="card-title">{{video.snippet.title}}</h5></a>
                    <p class="card-text">{{video.snippet.description}}</p>
                     <p class="card-text published"><small class="text-muted">published at + {{video.snippet.publishedAt}}</small></p>
                    <button class="btn btn-outline-success my-2 my-sm-0 btn2"  (click)="add(video.id.videoId)" #btnId>Add to my favourites</button>
                </div>
    
    </div>

  </section>
</section>


  